<div class="container mt-4">
  <div class="row">
    <div class="col"></div>
    <div class="col-6">
      <form #f="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" name="name" [(ngModel)]="customer.name" required>
        </div>

        <div class="form-group">
          <label for="userName">Username</label>
          <input type="text" class="form-control" id="userName" name="userName" [(ngModel)]="customer.user.userName" required>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" name="password" [(ngModel)]="customer.user.password" required/>
        </div>
        <div class="form-group">
          <label for="mobileNo">Mobile No</label>
          <input type="text" id="mobileNo" class="form-control" name="mobileNo" [(ngModel)]="customer.user.mobileNo" required/>
        </div>
        <div class="form-group">
          <label for="email">email</label>
          <input type="email" id="email" name="email" class="form-control" [(ngModel)]="customer.email" />
        </div>
        <div class="form-group">
          <label for="address">Address</label>
          <input type="text" id="address" name="address" class="form-control" [(ngModel)]="customer.address" />
        </div>
        <div class="form-group">
          <label for="aadhar">Aadhar NO</label>
          <input type="text" id="aadhar" name="aadhar" class="form-control" [(ngModel)]="customer.aadharNo" />
        </div>
        <div class="form-group d-flex justify-content-end">
          <button class="btn btn-primary">Register</button>
          <a [routerLink]="['/login']" class="btn btn-link">Cancel</a>
        </div>
      </form>
    </div>
    <div class="col"></div>
  </div>

</div>
