<h3>List of Customers</h3>

<p *ngIf="!customers">
  <em>Loading...</em>
</p>

<table class='table text-center' *ngIf="customers">
  <thead class="bg-warning">
    <tr>
      <th>Customer Id</th>
      <th>Name</th>
      <th>userName</th>
      <th>Email</th>
      <th>Mobile No</th>
    </tr>
  </thead>
  <tbody class="bg-lightgrey">
    <tr *ngFor="let c of customers">
      <td>{{ c.Id }}</td>
      <td>{{ c.user.name }}</td>
      <td>{{ c.user.userName }}</td>
      <td>{{ c.user.email }}</td>
      <td>{{c.user.mobileNo}}</td>
    </tr>
  </tbody>
</table>
