<h3>List of Customers</h3>

<p *ngIf="!customers">
  <em>Loading...</em>
</p>

<table class='table text-center' *ngIf="customers">
  <thead class="bg-warning">
    <tr>
      <th>Customer Id</th>
      <th>Name</th>
      <th>userName</th>
      <th>Email</th>
      <th>Mobile No</th>
    </tr>
  </thead>
  <tbody class="bg-lightgrey">
    <tr *ngFor="let c of customers">
      <td>{{ c.customerId }}</td>
      <td>{{ c.name }}</td>
      <td>{{ c.userName }}</td>
      <td>{{ c.email }}</td>
      <td>{{c.mobileNo}}</td>
    </tr>
  </tbody>
</table>
